.perse-perattr-categoricalplot {
    width: 150px;
    height: 190px;/*210px;*/
    margin: 0 auto;
}

.categoricalplot-chart {
    font-size: .7em;
 }

.categoricalplot-axis {
    font-size: .8em;
}

.categoricalplot-chart {
    width: 150px;
    max-height: 162px;
    overflow: auto;
}

.categoricalplot-axis svg path,
.categoricalplot-axis svg line,
.categoricalplot-axis path,
.categoricalplot-axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    stroke-width: 1px;
}

.categoricalplot-axis-label {
    font-size: 1.1em;
    letter-spacing: .05em;
    shape-rendering: precision;
}

.categoricalplot-category {
    cursor: pointer;
}

.categoricalplot-category text {
    pointer-events: none;
}
/*
.categoricalplot-category .outline {
    stroke: none;
    pointer-events: all;
}*/

.categoricalplot-category-background {
    stroke: #000;
    stroke-width: 1px;
    shape-rendering: crispEdges;
    fill: none;
    stroke-opacity: 0;
    pointer-events: all;
}

.categoricalplot-category:hover .categoricalplot-category-background {
    fill: #bdbdbd;
    fill-opacity: .15;
    /*stroke-opacity: 1;*/
}

.categoricalplot-category:active .categoricalplot-category-background {
    fill: #bdbdbd;
    fill-opacity: .5;
}

.categoricalplot-bar rect {
    stroke: none;
}

#categoricalplot-label-text {
    text-anchor: top;
    font-size: .69em;
}

.categoricalplot-label > svg,
.categoricalplot-chart > svg,
.categoricalplot-axis > svg {
    display: block;
}