/* Vendor CSS */
@import url("vendor/bootstrap.css");
@import url("vendor/bootstrap-theme.css");

/* PerSE CSS */
@import url("page.css");


#header-row {
	margin-bottom: 100px;
}

#title-heading > div > h1 {
	margin-top:50%;
	text-align: center;
}

#title-heading > .lead {
	text-align: center;
}

#title-img > img{
	display:block;
	margin: 0 auto;
}

label.caption {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.panel-heading.summary {
    background: white;
}