.perse-perattr-navtabs li {
    font-size: 9px;
}

/*
p.dropdown.perse-perattr {
    margin-bottom: 0;
}
*/

.perse-perattr-title {

}

.perse-perattr-title button,
.perse-perattr-title button:hover {
    margin-top: -.1em;
    font-size: 1em;
    padding: 0;
    color: black;
}

