/* Load Vendor Css */
@import url("vedor/bootstrap.css");
@import url("vedor/bootstrap-theme.css");
@import url("vedor/ol.css");
@import url("vedor/ol.css");

/* Load Views Css */
@import url("perwheel.css");
@import url("timewheel.css");
@import url("perattrs.css");
@import url("categoricalplot.css");
@import url("numericalplot.css");
@import url("perplots.css");
@import url("perlineplot.css");
@import url("perplot.css");
@import url("pertimeline.css");
@import url("timeline.css");
@import url("permap.css");
@import url("pertable.css");
@import url("page.css");

#perse {
    /*padding-top: 70px;*/
    width: 1170px !important;
}

.perse-btn {
    background: #FFFFFF;
    border-color: #FAFAFA;
}


.perse-btn:hover,
.perse-btn:focus,
.perse-btn:active,
.perse-btn.active,
.open .perse-btn.dropdown-toggle {
    background: #FAFAFA;
    border-color: #FAFAFA;

}

.perse-icon {
    cursor: pointer;
    margin: auto;
    display: inline-block;
}

.perse-row {
    margin-top: .5em;
    margin-bottom: .5em;
}

#perse-top-row {

}

#perse-bottom-row {

}

#perse-large-left,
#perse-large-right {

}

.perse-general-combolabel {
    margin-right: 1em;
}

.perse-header-title {
    display: inline;
    font-size: .9em;
}

.perse-header-toolbar {
    display: inline;
    float: right;
}

.perse-panel-body {
    padding: 3px;
}

.perse-panel-heading {
    padding: 4px 8px;
}

.dropdown-menu li.dropdown-header {
    pointer-events: none;
}

.dropdown-menu li a {
    cursor: pointer;
}

