#perse {
    padding-top: 70px;
}

.perse-btn {
    background: #FFFFFF;
    border-color: #FAFAFA;
}


.perse-btn:hover,
.perse-btn:focus,
.perse-btn:active,
.perse-btn.active,
.open .perse-btn.dropdown-toggle {
    background: #FAFAFA;
    border-color: #FAFAFA;

}

.perse-icon {
    cursor: pointer;
    margin: auto;
    display: inline-block;
}

.perse-row {
    margin-top: .5em;
    margin-bottom: .5em;
}

#perse-top-row {

}

#perse-bottom-row {

}

.perse-general-combobutton {

}

.perse-general-combolabel {
    margin-right: 1em;
}

.perse-header-title {
    display: inline;
    font-size: .9em;
}

.perse-header-toolbar {
    display: inline;
    float: right;
}

.perse-panel-body {
    padding: 3px;
}

.perse-panel-heading {
    padding: 4px 8px;
}

