.timewheel {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.timewheel > svg {
    margin: 0 auto;
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
}

.timewheel-arc-background {
    pointer-events: all;
}

.timewheel-arc-fill {
    fill: none;
}

.timewheel-arc-background > path {
    fill: none;
}

.timewheel-arc-fill,
.timewheel-arc-background > text {
    pointer-events: none;
}

.timewheel-arc-background text {
    font-weight: bold;
}

.timewheel-arc-background > path {
    cursor: pointer;
    fill: none;
}

.timewheel-arc-background > path:hover {
    fill: #bdbdbd;
    fill-opacity: .25;
}

.timewheel-arc-background > path:active {
    fill: #bdbdbd;
    fill-opacity: .5;
}

#timewheel-label {
    font-size: .43em;
}