.timewheel {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.timewheel > svg {
    margin: 0 auto;
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
}

.timewheel-arc-background {
    pointer-events: all;
}

.timewheel-arc-fill {
    fill: none;
}

.timewheel-arc-background > path {
    fill: none;
}

.timewheel-arc-fill,
.timewheel-arc-background > text {
    pointer-events: none;
}

.timewheel-arc-background text {
    font-weight: bold;
}

.timewheel-arc-background > path {
    cursor: pointer;
    fill: none;
}

.timewheel-arc-background > path:hover,
.timewheel-arc-background > path.hovered {
    fill: #ffffff;
    fill-opacity: .5;
}

.timewheel-arc-background > path:active {
    fill: #ffffff;
    fill-opacity: .75;
}

#timewheel-arc-label,
#timewheel-stats-label{
    alignment-baseline: hanging;
    font-size: .43em;
}