.timeline-bars rect {
    fill: steelblue;
    fill-opacity: .1;
    stroke: none;
    pointer-events: none;
}

.timeline-bars.selected rect {
    fill-opacity: 1;
    pointer-events: all;
}

.timeline-bars.selected rect:hover {
    fill-opacity: .8;
    cursor: auto;
}

.perse-timeline svg .brush .extent {
    fill-opacity: .125;
    shape-rendering: crispEdges;
    pointer-events: all;
}

.timeline-axis path,
.timeline-axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    stroke-width: 1px;
}

.timeline-axis text {
    font-size: .60em;
}

.timeline-axis text.timeline-axis-label {
    font-size: .69em;
    letter-spacing: .05em;
    shape-rendering: precision;
}

#timeline-label {
    text-anchor: top;
    font-size: .69em;
}